(
  entities: {
    0: (
      components: {
        "isometric_sort::cells::saved::SavedCells": (
          main_cell: (
            x: 100,
            y: 70,
          ),
          dimensions: (
            x: 2,
            y: 1,
            z: 2,
          ),
          facing: BottomLeft,
        ),
      },
    ),
  },
)