(
  entities: {
    0: (
      components: {
        "isometric_sort::cells::saved::SavedCells": (
          main_cell: (
            x: 2,
            y: 59,
          ),
          dimensions: (
            x: 2,
            y: 2,
            z: 1,
          ),
          facing: BottomRight,
        ),
      },
    ),
  },
)